# Virtual Environment
venv/
env/
.venv/

# Environment Variables & Secrets (Most Important)
.env
*.env

# Vector Database Cache & Temp Files
data/chroma_db/
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.pyc

# OS & Editor files
.DS_Store
.vscode/
.idea/